@font-face{
    font-family: "MyriadPro-Light";
    src: url(myriad/MyriadPro-Light.otf) format("opentype");
}

main{
    width: 1400px;
    margin: 130px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.307);

}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    padding-top: 140px;
    font-weight: normal;
}

main div{
    width: 85%;
    margin: 0px auto;
}
main span{
    font-size: 2em;
}
p{
    font-weight: bold;  
    font-size: 18px;
}
p, blockquote{
   
    font-family: "MyriadPro-Light";
    color: rgba(23, 23, 23, 0.702);
    line-height: 1.889;
    margin-bottom: 30px;
    
  }
  blockquote{
      font-style: italic;
      font-family: 'Lato', sans-serif;
      font-size: 16px;

      
  }
main p:first-of-type::first-letter{
    font-size: 110px;
    color: black;
  float: left;
  line-height: 80px;
  margin-right: 20px;
  margin-bottom: 10px;
font-family: 'Playfair Display', serif;
font-weight: normal;
}
main button
  {
      background-color: white;
      width: 260px;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      height: 60px;
      border: #eaa258 1px solid;
      color: #eaa258;
      margin-bottom: 120px;
      letter-spacing: 4px;
  }
 main button:focus{
    outline: #eaa258 1px solid;
  }